body {
    width: 100%;
}



.top {
    background-color: rgba(99, 91, 138, 0.692) !important;
    position: sticky;
    top: 0px;



}

.a {
    height: 25px;
    width: 55px;
    font-size: 8px;
    position: relative;
    left: 400px;


}

.btn-light:hover {
    background-color: rgba(228, 216, 198, 0.685);
}

::placeholder {
    font-size: 11px;
}

input {
    height: 25px;
    border-radius: 3px;
    border: solid black .6px;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    left: 400px;
}

.top {
    padding: 10px;
}

.email {
    justify-content: center;
    display: flex;
}

.btn-primary {
    margin-top: 15px;
}

.bottom {
    position: relative;
    top: 200px;
}


.badge {
    background-color: crimson;

}

.b {
    width: 100px;
    height: 30px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgray;
    font-size: 10px;
}

